<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MainPage </title>
    <link rel="stylesheet" href="public/css/styles.css">
</head>
<body>
    <div>
        <ul>
            <li> <a href="about.html">About </a> </li>
            <li> <a href="works.html"> Works </a> </li>
        </ul> 
            
    </div>
    <div class="header">
        <h1> Hello I am Will Smith </h1>
    </div>

    <div class ="row">
        <h2> Welcome to my page - We are about make history </h2>
        <h5> Here is what happens on my first oscar nomination </h5>
        <div class="fakeimg" style =height:200px; width: 400px;>
            <img src="/public/images/slap.png" alt="The slap">
            <p> Take this Chris ! </p>
        </div>
    </div>


    
</body>
</html>
